@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "arial", "san-serif";
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.logo {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  padding: 10px;
  font-size: 5rem;
}

.logo__img {
  width: 20%;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__input {
  height: 35%;
  max-height: 60px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 2vh;
  padding-left: 1rem;
}

.search__input:focus {
  -webkit-box-shadow: 0 0 5px 2px #1b1818;
          box-shadow: 0 0 5px 2px #1b1818;
}

.search__btn {
  height: 40%;
  max-height: 60px;
  width: 15%;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #f3f1f1;
  -webkit-box-shadow: 0 0 4px 1px #1b1818;
          box-shadow: 0 0 4px 1px #1b1818;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search__btn:hover {
  background-color: #000;
  color: white;
  cursor: pointer;
}

.settings {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settings__link-icon {
  font-size: 4rem;
  color: #464343;
  margin: 0 1.5rem;
}

.settings__link-icon:hover {
  color: #000;
}

.menu {
  background-color: #689ceb;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100px;
  padding: 20px 40px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  font-size: 3.5rem;
  line-height: 60px;
  list-style: none;
  margin-right: 50px;
}

.menu__item:nth-last-child(1) {
  margin-left: auto;
  padding: 2px 12px;
  border: 1px solid black;
  -webkit-box-shadow: 0 0 2px 1px black;
          box-shadow: 0 0 2px 1px black;
}

.menu__item:nth-last-child(1):hover {
  border: 1px solid darkorange;
  -webkit-box-shadow: 0 0 2px 1px darkorange;
          box-shadow: 0 0 2px 1px darkorange;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT Sans", "Roboto";
  line-height: 30px;
}

.menu__link:hover {
  border-bottom: 2px solid darkorange;
}

.menu__link--last:hover {
  border-bottom: none;
}

.main-articles {
  background-color: #ce3636;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.article-list {
  background-color: #17bd4e;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footer {
  background-color: #ee6910;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
/*# sourceMappingURL=main.css.map */