@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import '_variables';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: $default-font;
    background-color: darken($color: #5171A5, $amount: 15%);
    // min-height: 100vh;
}

.wrapper {
    max-width: 1400px;
    margin: 1px auto;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
    // background-color: $main-color;
}

.logo {
    // flex-grow: 1;
    // background-color: lightsalmon;
    flex-basis: 15%;
    padding: 10px;
    font-size: 5rem;
    background-color: #F1DEDE;

    @media(max-width:799px) {
        font-size: 4rem;
    }

    &__img {
        width: 20%;

    }
}

.search {
    // background-color: rgb(49, 148, 45);
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: #F1DEDE;

    @media(max-width:799px) {
        background-color: darken($color: #F1DEDE, $amount: 15%);
        order: -1;
        flex-basis: 100%;
        min-height: 7vh;
    }

    &__input {
        height: 35%;
        max-height: 60px;
        flex-basis: 50%;
        margin-right: 2vh;
        padding-left: 1rem;

        @media(max-width:799px) {
            height: 55%;
        }

        &:focus {
            box-shadow: 0 0 5px 2px rgb(27, 24, 24);
        }
    }

    &__btn {
        height: 40%;
        max-height: 60px;
        width: 15%;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: rgb(243, 241, 241);
        box-shadow: 0 0 4px 1px rgb(27, 24, 24);
        transition: 0.3s;

        @media(max-width:799px) {
            height: 60%;
        }

        &:hover {
            background-color: #000;
            color: white;
            cursor: pointer;

        }

    }
}

.settings {
    // background-color: rgb(49, 51, 44);
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1DEDE;
    font-size: 4rem;

    @media(max-width:799px) {
        flex-grow: 1;
        justify-content: flex-end;
        font-size: 3.2rem;
    }

    &__link-icon {
        color: rgb(70, 67, 67);
        margin: 0 1.5rem;

        &:hover {
            color: #000;
        }
    }
}


.menu {
    background-color: lighten($color: black, $amount: 10%);
    flex-basis: 100%;
    height: 90px;
    padding: 20px 40px;

    @media(max-width:799px) {
        padding: 20px 20px;
    }

    &__list {
        display: flex;


    }

    &__item {
        font-size: 3.5rem;
        line-height: 45px;
        list-style: none;
        margin-right: 50px;

        @media(max-width:799px) {
            font-size: 2.5rem;
        }





        &:nth-last-child(1) {
            margin-left: auto;
            margin-right: 0;
            padding: 2px 12px;
            border: 1px solid black;
            box-shadow: 0 0 2px 1px rgb(71, 71, 71);

            &:hover {
                border: 1px solid #FFF275;
                box-shadow: 0 0 2px 1px #FFF275;

            }



        }

    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-family: $extra-fonts;
        line-height: 30px;
        color: white;

        &:hover {
            border-bottom: 2px solid #FFF275;
        }

        &--last:hover {
            border-bottom: none;
        }











    }
}

.article {
    margin-top: 50px;
    padding: 0 40px;
    text-align: center;

    &--small {
        flex-basis: 30%;

        @media(max-width:799px) {
            flex-basis: 50%;
        }


    }

    &__img {
        width: 75%;
        margin: 0 auto;
        display: block;

        .article--small & {
            width: 100%;
        }
    }

    &__title {
        font-size: 3rem;
        text-transform: uppercase;
        margin: 2.5rem 0;
        font-family: $extra-fonts;

        .article--small & {
            font-size: 2.4rem;
            line-height: 6rem;
            margin: 0;
            background-color: lighten($color: #5171A5, $amount: 25%);
            transition: 0.3s;

            &:hover {
                background-color: #FFF275;
                cursor: pointer;
            }

        }
    }

    &__description {
        font-size: 1.8rem;
        min-height: 100px;
        line-height: 2.6rem;
        padding: 0 40px;

    }

    &__link {
        display: block;
        width: 25%;
        margin: 30px auto;
        color: white;
        text-decoration: none;
        font-size: 1.8rem;
        padding: 10px 15px;
        border: 1px solid black;
        box-shadow: 0 0 1px 1px black;
        transition: 0.4;

        &:hover {
            background-color: white;
            color: black;
        }
    }
}

.main-articles {
    background-color: #5171A5;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;

    &__head {
        margin: 40px 0;
        font-size: 5.2rem;
        font-family: $extra-fonts;
        letter-spacing: 3px;
        color: whitesmoke;
        text-align: center;
        flex-basis: 100%;
        background-color: rgba(0, 0, 0, 0.2)
    }

    .article {
        flex-basis: 50%;

        @media(max-width:799px) {
            flex-basis: 100%;
        }
    }
}

.article-list {
    // background-color: $main-color;
    background-color: white;
    padding: 50px 0 20px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    // flex-grow: 4;
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    padding: 3rem 0;
    border-top: 1px solid #000;
    background-color: #5171A5;

    & .sm-column {
        flex-basis: 30%;

    }
}

.sm-column {
    text-align: center;
    font-family: $extra-fonts;

    &__title {
        font-family: $default-font;
        font-size: 2.4rem;
        font-weight: 400;
        text-transform: uppercase;
        margin: 10px 0 20px;

    }

    &__item {
        line-height: 2.8rem;
        font-size: 1.6rem;
    }
}